{% set credit_memo = hookable_metadata.context.credit_memo %}

{% if credit_memo.from != null %}
    <div class="col-12 col-md-6 mb-3">
        <div class="card h-full" id="from-address">
            <div class="card-header">
                <div class="card-title">
                    {{ 'sylius_refund.ui.buyer'|trans }}
                </div>
            </div>
            <div class="card-body">
                {% set from = credit_memo.from %}

                <address class="d-flex flex-column">
                    <span><strong>{{ from.fullName }}</strong></span>
                    {% if from.company %}
                        <span>{{ from.company }}</span>
                    {% endif %}
                    <span>{{ from.street }}</span>
                    <span>{{ from.city }}</span>
                    {% if from.provinceName is not empty %}
                        <span>{{ from.provinceName }}</span>
                    {% endif %}
                    <span>{{ from.countryCode|sylius_country_name|upper }} {{ from.postcode }}</span>
                </address>
            </div>
        </div>
    </div>
{% endif %}
