{% set credit_memo = hookable_metadata.context.credit_memo %}

{% if credit_memo.to != null and credit_memo.to.taxId != null %}
    <div class="eight wide column">
        <h4 class="ui top attached styled header">{{ 'sylius_refund.ui.seller'|trans }}</h4>
        <div {{ sylius_test_html_attribute('credit-memo-channel-name') }}>{{ credit_memo.channel.name }}</div>
        <div class="ui attached segment" id="to-address">
            {% set to = credit_memo.to %}
            <address>
                <strong>{{ to.company }}</strong>
                {{ to.taxId }}<br/>
                {{ to.city }}<br/>
                {{ to.street }}<br/>
                {{ to.countryCode|sylius_country_name|upper }} {{ to.postcode }}
            </address>
        </div>
    </div>
{% endif %}
