{% set credit_memo = hookable_metadata.context.credit_memo %}

{% if credit_memo.to != null and credit_memo.to.taxId != null %}
    <div class="col-12 col-md-6 mb-3">
        <div class="card h-full" id="from-address">
            <div class="card-header">
                <div class="card-title">
                    {{ 'sylius_refund.ui.seller'|trans }}
                </div>
            </div>
            <div class="card-body">
                {% set to = credit_memo.to %}

                <div {{ sylius_test_html_attribute('credit-memo-channel-name') }}>{{ credit_memo.channel.name }}</div>
                <address class="d-flex flex-column">
                    <span><strong>{{ to.company }}</strong> {{ to.taxId }}</span>
                    <span>{{ to.city }}</span>
                    <span>{{ to.street }}</span>
                    <span>{{ to.countryCode|sylius_country_name|upper }} {{ to.postcode }}</span>
                </address>
            </div>
        </div>
    </div>
{% endif %}
