{% set credit_memo = hookable_metadata.context.credit_memo %}

{% if credit_memo.from != null %}
    <div class="eight wide column">
        <h4 class="ui top attached styled header">{{ 'sylius_refund.ui.buyer'|trans }}</h4>
        <div class="ui attached segment" id="from-address">
            {% set from = credit_memo.from %}
            <address>
                <strong>{{ from.fullName }}</strong>
                {% if from.company %}
                    {{ from.company }}
                {% endif %}
                <br/>{{ from.street }}<br/>
                {{ from.city }}<br/>
                {% if from.provinceName is not empty %}
                    {{ from.provinceName }}<br/>
                {% endif %}
                {{ from.countryCode|sylius_country_name|upper }} {{ from.postcode }}
            </address>
        </div>
    </div>
{% endif %}
