{% import "@SyliusCore/Common/Macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}
{% set shipment_refund_type = constant('Sylius\\RefundPlugin\\Model\\RefundType::SHIPMENT') %}

{% for shipping_adjustment in order.getAdjustments('shipping') %}
    {% set shipment = shipping_adjustment.shipment %}

    <tr class="shipment">
        <td class="single line">
            {{ 'sylius.ui.shipment'|trans }}: {{ shipping_adjustment.label }}
        </td>
        <td class="right aligned total">
            <span class="unit-total">{{ money.format(shipment.adjustmentsTotal, order.currencyCode) }}</span>
            {% set refundedTotal = unit_refunded_total(shipping_adjustment.id, shipment_refund_type) %}
            {% if refundedTotal != 0 %}
                <br/><strong>{{ 'sylius_refund.ui.refunded'|trans }}:</strong> <span class="unit-refunded-total">{{ money.format(refundedTotal, order.currencyCode) }}</span>
            {% endif %}
        </td>
        <td class="aligned collapsing partial-refund">

            <div class="input-group">
                <div class="input-group-text">{{ order.currencyCode|sylius_currency_symbol }}</div>
                {% set inputName = "sylius_refund_shipments["~shipping_adjustment.id~"][amount]" %}
                <input data-refund-input type="number" step="0.01" class="form-control" name="{{ inputName }}" {% if not can_unit_be_refunded(shipping_adjustment.id, shipment_refund_type) %} disabled{% endif %}/>
            </div>
        </td>
        <td class="aligned collapsing">
            <button
                    data-refund="{{ unit_refund_left(shipping_adjustment.id, shipment_refund_type, shipment.adjustmentsTotal) }}"
                    type="button"
                    class="btn"
                    {% if not can_unit_be_refunded(shipping_adjustment.id, shipment_refund_type) %} disabled{% endif %}
                    {{ sylius_test_html_attribute('refund-item-button') }}
            >
                {{ ux_icon('tabler:truck') }}
                {{ 'sylius_refund.ui.refund'|trans }}
            </button>
        </td>
    </tr>
{% endfor %}
